.card{
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
  padding: 20px;
  margin: 15px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card img{
  max-width: 100%;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card h2{
  font-size: 1.5em;
  margin: 10px 0;
}

.myBtn{
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}